<!DOCTYPE html>
<html lang="heb">

<head>
    <meta charset="UTF-8">
    <title>Atopic Dermatitis Clinic Sheba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


<body>
    <!-- HEADER-->

    <section>
        <div class="container p-3 my-3 bg-secondary text-white ">
            <img src='images/sheba.png' class='text-center'>
            <div class="row justify-content-center mt-5 ">
                <div class="col-l-12 center-block text-center">
                    <h1>מרפאת אטופיק דרמטיטיס שיבא תל השומר</h1>
                    <h2>שאלוני הערכת חומרת מחלה</h2>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container p-3 my-3 bg-light text-dark ">

            <div class="row justify-content-center mt-1 ">
                <div class="col-l-12 center-block text-right">
                    <p style="font-size:160%">
                    מטופל.ת יקר.ה
                </p>
                    
                    <p style="font-size:160%">
                        דלקת עור אטופית (אטופיק דרמטיטיס) היא צורה כרונית של אקזמה. זוהי מחלה נפוצה וניתנת לטיפול, אולם
                        לא תמיד קל לנהל אותה, היא עלולה להשפיע על איכות החיים שלך ביותר מדרך אחת
                    </p>

                    <p style="font-size:160%"> השאלונים המופיעים באתר זה הינם שאלונים אשר פותחו על מנת לסייע למטופלים
                        ולרופאים שלהם בהבנה מקיפה ויעילה של מחלתם.
                        התשובות שלך לשאלונים יסייעו לנו להבין יותר טוב את השפעה המחלה על חייך, את צרכי
                        הטיפול שלך ואת התגובה לתוכנית הטיפול שהותאמה לך
                    </p>
                    <p style="font-size:160%">בברכת בריאות<br> ד"ר אדם דלאל <br> אחראי מרפאת אטופיק דרמטיטיס</p>
                    

                </div>
            </div>
        </div>
    </section>


    <!-- DEMOGRAPHICS-->
    <section>
        <div class="container mt-5 p-3 my-3 border  bg-light text-dark">
            <div class="form-row justify-content-end">
                <div class="col" align="right">
                    <h1>מידע אישי</h1>
                </div>
            </div>
            
            <form action="/" method="post">

                <!-- Q2-->

                <div class="row justify-content-center mt-2">
                    <div class="col" align="center">
                        <input type="text" name="ID">
                        <label for="ID" class="col-form-label col-form-label-lg">תעודת זהות</label>
                    </div>
                </div>

                <!-- Q1 end-->
                <!-- Q2-->
                
                
                <div class="row justify-content-center mt-2">
                    <label for="pruritus" class="col-form-label col-form-label-lg">:עוצמת גרד ממוצע בשבוע
                        האחרון</label>
                    </div>
                    <div class="row justify-content-center mt-2">
                    <div class="col" align="center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio1" value=0>
                            <label class="form-check-label" for="inlineRadio1">0</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio2" value=1>
                            <label class="form-check-label" for="inlineRadio2">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio3" value=2>
                            <label class="form-check-label" for="inlineRadio3">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio1" value=3>
                            <label class="form-check-label" for="inlineRadio1">3</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio2" value=4>
                            <label class="form-check-label" for="inlineRadio2">4</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio3" value=5>
                            <label class="form-check-label" for="inlineRadio3">5</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio1" value=6>
                            <label class="form-check-label" for="inlineRadio1">6</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio2" value=7>
                            <label class="form-check-label" for="inlineRadio2">7</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio3" value=8>
                            <label class="form-check-label" for="inlineRadio3">8</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio3" value=9>
                            <label class="form-check-label" for="inlineRadio3">9</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pruritus" id="inlineRadio3" value=10>
                            <label class="form-check-label" for="inlineRadio3">10</label>
                          </div>
                        
                    </div>
                    <!-- Q2 end-->



                </div>
                <!-- POEM-->
                <div class="row justify-content-end my-3">
                    <div class="col" align="right">
                        <h1>POEM שאלון</h1>
                    </div>
                </div>
                <!-- Qs-->
                <% for(var i=0; i < poem.length; i++) { %>
                    <div class="row justify-content-end mt-2">
                        <h5>
                            <%= poem[i].id %>
                        </h5>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col" align="center">


                            <div class="form-check form-check-inline ml-5">
                                <input class="form-check-input" type="radio" name=<%=poem[i].name %> id="inlineRadio1"
                                value=0>
                                <label class="form-check-label col-form-label-lg" for="inlineRadio1">
                                    <%= poem[i].a1 %>
                                </label>
                            </div>


                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col" align="center">

                            <div class="form-check form-check-inline ml-5">
                                <input class="form-check-input" type="radio" name=<%=poem[i].name %> id="inlineRadio2"
                                value=1>
                                <label class="form-check-label col-form-label-lg" for="inlineRadio2">
                                    <%= poem[i].a2 %>
                                </label>
                            </div>
                        </div>
                    </div>

                            <div class="row justify-content-center">
                                <div class="col" align="center">

                            <div class="form-check form-check-inline ml-5">
                                <input class="form-check-input" type="radio" name=<%=poem[i].name %> id="inlineRadio1"
                                value=2>
                                <label class="form-check-label col-form-label-lg" for="inlineRadio1">
                                    <%= poem[i].a3 %>
                                </label>
                            </div>
                        </div>
                    </div>
                            <div class="row justify-content-center">
                                <div class="col" align="center">

                            <div class="form-check form-check-inline ml-5">
                                <input class="form-check-input" type="radio" name=<%=poem[i].name %> id="inlineRadio1"
                                value=3>
                                <label class="form-check-label col-form-label-lg" for="inlineRadio1">
                                    <%= poem[i].a4 %>
                                </label>
                            </div>
                        </div>
                    </div>
                            <div class="row justify-content-center">
                                <div class="col" align="center">

                            <div class="form-check form-check-inline ml-5">
                                <input class="form-check-input" type="radio" name=<%=poem[i].name %> id="inlineRadio1"
                                value=4>
                                <label class="form-check-label col-form-label-lg" for="inlineRadio1">
                                    <%= poem[i].a5 %>
                                </label>
                            </div>
                        </div>
                    </div>
                      

                    <% } %>
                        <!-- END Qs-->

                        <!-- ACDT-->

                        <div class="row justify-content-end my-3">
                            <div class="col" align="right">
                                <h1>ADCT שאלון</h1>
                            </div>
                        </div>
                        <!-- Qs-->
                        <% for(var i=0; i < adct.length; i++) { %>
                            <div class="row mt-2" align="right">
                                <div class="col" align="right">
                                    <h5>
                                        <%= adct[i].id %>
                                    </h5>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col" align="center">


                                    <div class="form-check form-check-inline ml-5">
                                        <input class="form-check-input" type="radio" name=<%=adct[i].name %>
                                        id="inlineRadio1"
                                        value=0>
                                        <label class="form-check-label col-form-label-lg" for="inlineRadio1">
                                            <%= adct[i].a1 %>
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                                    
                                    <div class="row justify-content-center">
                                        <div class="col" align="center">
        
                                    <div class="form-check form-check-inline ml-5">
                                        <input class="form-check-input" type="radio" name=<%=adct[i].name %>
                                        id="inlineRadio2"
                                        value=1>
                                        <label class="form-check-label col-form-label-lg" for="inlineRadio2">
                                            <%= adct[i].a2 %>
                                        </label>
                                    </div>

                                </div>
                            </div>
                                    <div class="row justify-content-center">
                                        <div class="col" align="center">
        

                                    <div class="form-check form-check-inline ml-5">
                                        <input class="form-check-input" type="radio" name=<%=adct[i].name %>
                                        id="inlineRadio1"
                                        value=2>
                                        <label class="form-check-label col-form-label-lg" for="inlineRadio1">
                                            <%= adct[i].a3 %>
                                        </label>
                                    </div>

                                    
                                </div>
                            </div>

                                    <div class="row justify-content-center">
                                        <div class="col" align="center">
        
                                    <div class="form-check form-check-inline ml-5">
                                        <input class="form-check-input" type="radio" name=<%=adct[i].name %>
                                        id="inlineRadio1"
                                        value=3>
                                        <label class="form-check-label col-form-label-lg" for="inlineRadio1">
                                            <%= adct[i].a4 %>
                                        </label>
                                    </div>

                                    
                                </div>
                            </div>
                                    
                                    <div class="row justify-content-center">
                                        <div class="col" align="center">
        
                                    <div class="form-check form-check-inline ml-5">
                                        <input class="form-check-input" type="radio" name=<%=adct[i].name %>
                                        id="inlineRadio1"
                                        value=4>
                                        <label class="form-check-label col-form-label-lg" for="inlineRadio1">
                                            <%= adct[i].a5 %>
                                        </label>
                                    </div>

                                </div>
                            </div>


                            <% } %>
                                <!-- END Qs-->


                                <!-- BUTTON-->
                                <div class="row justify-content-center mt-5">
                                    <div class="col" align="center">
                                        <button type="submit" name="submit">שלח</button>

                                    </div>
                                </div>
            </form>
        </div>
    </section>
</body>

</html>