<!DOCTYPE html>
<html lang="heb">

<head>
  <meta charset="UTF-8">
  <title>Sheba Allergy Test</title>
</head>


<body> 

  
  <h1 align='right'>דוח מטופל</h1>  
  <h3 align='right'> <%= ID%> :תז</h3>

<p align='right'>
  <%= PRURITUS%>: גרד ממוצע בשבוע האחרון
</p>
<h5 align='right'> POEM </h5>
<p align='right'>
  <%= POEM1%>: ימי גרד 
</p>
<p align='right'>
  <%= POEM2%>: לילות גרד 
</p>
<p align='right'>
  <%= POEM3%>: דימום
</p>

<p align='right'>
  <%= POEM4%>: הפרשות
</p>
<p align='right'>
  <%= POEM5%>:עור מחורץ 
</p>
<p align='right'>
  <%= POEM6%>: עור מתקלף
</p>
<p align='right'>
  <%= POEM7%>: עור יבש
</p>


<p align='right'>
  <%= POEM%>: POEM ציון סופי 
</p>

<h5 align='right'> ADCT </h5>
<p align='right'>
  <%= ADCT1%>: ימי תסמינים 
</p>
<p align='right'>
  <%= ADCT2%>: אירועים אינטסיביים
</p>
<p align='right'>
  <%= ADCT3%>: מידת טירדה
</p>

<p align='right'>
  <%= ADCT4%>: קושי בשינה
</p>
<p align='right'>
  <%= ADCT5%>:השפעה על פעילות יום יום 
</p>
<p align='right'>
  <%= ADCT6%>: השפעה רגשית
</p>



<p align='right'>
  <%= ACDT%>: ACDT ציון 
</p>


</body>

</html>