<!DOCTYPE html>
<html lang="heb">

<head>
  <meta charset="UTF-8">
  <title>Sheba Allergy Test</title>
</head>


<body>
  <h1 align='right'>דוח מטופל</h1>  
  <h3 align='right'> <%= ID%> :תז</h3>
<p align='right'>
  
   ,<%= AGE%>  <%- GENDER =='Male' ? 'בן' : 'בת' %> 
</p>
<p align='right'>
  <%= CONDITIONS%> ברקע 
</p>
<p align='right'>
  <%= POEM%>: POEM ציון 
</p>


</body>

</html>