<!DOCTYPE html>
<html lang="heb">

<head>
  <meta charset="UTF-8">
  <title>Sheba Allergy Test</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


<body>
  <h1 align='center'> טבלת מעקב מטופלים</h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">אינדקס</th>

        <th scope="col">תז</th>
        <th scope="col">תאריך</th>

        <th scope="col">גרד</th>
        <th scope="col">POEM</th>
        <th scope="col">ימי גרד</th>
        <th scope="col">לילות גרד</th>
        <th scope="col">דימום</th>
        <th scope="col">הפרשות</th>
        <th scope="col">חריצים</th>
        <th scope="col">התקלפות</th>        
        <th scope="col">יובש</th>
        <th scope="col">ACDT</th>
        <th scope="col">ימי תסמינים</th>
        <th scope="col">אינטסיביות</th>
        <th scope="col">טירדה</th>
        <th scope="col">שינה</th>
        <th scope="col">יומיום</th>
        <th scope="col">רגשית</th>
        
      </tr>
    </thead>
    
    
    <tbody>
<% pats.forEach(function(pat,index) { %>
    <tr>
      <th scope="row"><%= index %></th>
      <td><%= pat.PatientID %></td>
      <td><%= pat.TIME %></td>
      <td><%= pat.PRURITUS %></td> 
      <td><%= pat.POEM1 + pat.POEM2 + pat.POEM3 + pat.POEM4+ pat.POEM5+pat.POEM6+pat.POEM7%></td>
      <td><%= pat.POEM1%></td>
      <td><%= pat.POEM2 %></td> 
      <td><%= pat.POEM3 %></td>
      <td><%= pat.POEM4 %></td> 
      <td><%= pat.POEM5 %></td> 
      <td><%= pat.POEM6 %></td>
      <td><%= pat.POEM7 %></td>
      <td><%= pat.ACDT1 + pat.ACDT2 + pat.ACDT3 + pat.ACDT4+ pat.ACDT5+pat.ACDT6%></td>

      <td><%= pat.ACDT1 %></td>
      <td><%= pat.ACDT2 %></td> 
      <td><%= pat.ACDT3 %></td>
      <td><%= pat.ACDT4 %></td> 
      <td><%= pat.ACDT5 %></td> 
      <td><%= pat.ACDT6 %></td>
    </tr>
  <% }); %> 
</tbody>
</table>

<!-- OPTINAL - IF WANTS TO EXPAND AN INDEX -->

<!-- <section>
  <div class="row justify-content-center mt-2">
    <div class="col" align="right">
      <h5>?האם תרצה להרחיב את אחד השאלונים</h5>
    </div>
  </div>
  <form action="/expand" method="post">

</form>
</section> -->


</body>

</html>