
<!DOCTYPE html>
<html lang="heb">

<head>
    <meta charset="UTF-8">
    <title>Atopic Dermatitis Clinic Sheba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>


<form action="/try" method="post">
 <!-- Qs-->
 <% for(var i=0; i < data.length; i++) { %>
<div class="row justify-content-end mt-2">
    <h5><%= data[i].id %></h5>
</div>
 
<div class="row justify-content-center">
    <div class="col" align="center">


      <div class="form-check form-check-inline ml-5">
        <input class="form-check-input" type="radio" name=<%= data[i].name %> id="inlineRadio1" value=0>
        <label class="form-check-label col-form-label-lg" for="inlineRadio1"><%= data[i].a1 %></label>
      </div>

      <div class="form-check form-check-inline ml-5">
        <input class="form-check-input" type="radio" name=<%= data[i].name %> id="inlineRadio2" value=1>
        <label class="form-check-label col-form-label-lg" for="inlineRadio2"><%= data[i].a2 %></label>
      </div>

    </div>
  </div>


<% } %>
<!-- END Qs-->
<div class="row justify-content-center mt-5">
    <div class="col" align="center">
  <button type="submit" name="submit">שלח</button>

</form>

<table>
    <% for(var i=0; i < data.length; i++) { %>
       <tr>
         <td><%= data[i].id %></td>
         <td><%= data[i].name %></td>
       </tr>
    <% } %>
</table>

</body>

</html>